<%= form_for @vendor, :html => { :multipart => true } do |f| %>
  <% if @vendor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vendor.errors.count, "error") %> prohibited this vendor from being saved:</h2>

      <ul>
      <% @vendor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :logo %><br />
    <%= file_field(:vendor, :logo_image) %>
  </div>
  <div class="field">
    <%= f.label :dashboard %><br />
    <%= file_field(:vendor, :dashboard_image) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
