<%- model_class = @vendor.class -%>
<h1><%=t '.title', :default => model_class.model_name.human %></h1>

<p>
  <strong><%= model_class.human_attribute_name(:name) %>:</strong><br>
  <%= @vendor.name %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:description) %>:</strong><br>
  <%= @vendor.description %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:logo_image_file_name) %>:</strong><br>
  <%= image_tag @vendor.logo_image.url(:thumb) %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:dashboard_image_file_name) %>:</strong><br>
  <%= image_tag @vendor.dashboard_image.url(:thumb) %>
</p>


<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              vendors_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_vendor_path(@vendor), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              vendor_path(@vendor),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>
